@font-face {
    font-family: Existence; /* Имя шрифта */
    src:url("Existence-Light.ttf");

}
header{
    background: url("img/layer-2.png");
    height: 1128px;
    background-color: rgba(72, 72, 72, 0.4);
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-family:Existence;
    font-size: 90px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 110px;
    padding-bottom: 78px;
}
.bahas{
    color: #ffffff;
}
.kara{
    color: #9f449b;
}
.description{
    color: #ffffff;
padding-bottom: 120px;

}
.fusce{
    font-size: 48px;
    line-height: 24px;
    width: 1045px;
    padding-bottom: 2%;
    padding-left: 9%;
}
.position_fusce{
    display: flex;
    justify-content: center;
}
.position_vestibulum{
    display: flex;
    justify-content: center;
    text-align: center;
}
.vestibulum{
    font-size: 24px;
    line-height: 30px;
    width: 1045px;
}
.hexal_text{
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 7%;
}
.portfolio_hexal{
    padding-left: 1%;
}
.services_hexal{
    padding-right: 1%;
}

.position_hexagon{
    display:flex;
    justify-content: center;
    padding-bottom: 2%;
}
.position_hexagon_2{
    display: flex;
    justify-content: space-around;
}
.hexal_about_team,.hexal_blog_contact{
    display: flex;
}
.frame{
    background: url("img/frame_hexal.png");
    height: 180px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 166px;
    color: #ffffff;
}
.frame:hover{
    background: url("img/hexal-hover.png");
    cursor: pointer;
}
.position_button_down{
    display: flex;
    justify-content: center;
    padding-top: 4%;
}
.button_down{
    background: url("img/button.png");
    width: 84px;
    height: 91px;
}
#about{
    height: 1952px;
}
.about_us{
    height: 1025px;
}
.about_caption{
    font-family: Existence;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    display: flex;
}
ul{
    display: flex;
}
ul li a{
    padding: 0 10px;
    cursor: pointer;
}
ul li a:hover{
    color: #9f449b;
    cursor: pointer;
}
.bahas-2{
    color: #676767;
}
.kara-2{
    color: #9f449b;

}
.description_position_about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 145px;
}
.advantages{
    height: 794px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.advantages_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1%;
}
.advantages_caption{
    color: #676767;
    font-family: Lato;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    width: 260px;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}
.advantages_description{
    color: #676767;
    font-family: Lato;
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
    width: 260px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.img_heart{
    background: url("img/heart-withoutHover.png");
    width: 171px;
    height: 184px;
    margin-bottom: 8%;
}
.img_heart:hover{
    background: url("img/heart.png");
    cursor: pointer;
}
.img_briliant{
    background: url("img/briliant.png");
    width: 171px;
    height: 184px;
    margin-bottom: 8%;
}
.img_briliant:hover{
    background: url("img/briliant-hover.png");
    cursor: pointer;
}
.img_cap{
    background: url("img/cap.png");
    width: 171px;
    height: 184px;
    margin-bottom: 8%;
}
.img_cap:hover{
    background: url("img/cap-hover.png");
    cursor: pointer;
}
.img_phone{
    background: url("img/phone.png");
    width: 171px;
    height: 184px;
    margin-bottom: 8%;
}
.img_phone:hover{
    background: url("img/phone-hover.png");
    cursor: pointer;

}
.frame_for_h2{
    font-family: Existence;
    font-size: 48px;
    font-weight: bold;
    line-height: 36px;
    margin: 8% 0 8%;
    display: flex;
    justify-content: center;
}
.about_text{
    color: #676767;
    margin-right: 1%;
}
.us_text{
    color: #9f449b;
}
.description_about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about_description_text{
    width: 457px;
    height: 196px;
    padding: 2% 0;
}
.img{
    padding: 0 2%;
}
.description_text{
    color: #676767;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2%;
}
.about_button{
    width: 227px;
    height: 71px;
    border-radius: 5px;
    background-color: #9f449b;
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    border: #9f449b;
}
#team {
    height: 100%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.position_team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.our_team_slider{
    display: none;
}

.button-list{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
#leftButton,#rightButton{
    padding: 0 1%;
    cursor: pointer;
}
#show{
    display: block;
}

.fa-facebook{
    border-radius: 10px;
    border: 1px solid #777777;
    background-color: rgba(218, 218, 218, 0);
}
.team_item{
    padding: 0 4%;
}
.header_our_team{
    background: url("img/team.png");
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 48px;
    line-height: 36px;
}
.img_header_team{
    padding-bottom: 4%;
}
.img_photo_team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_social{
    padding: 0 4%;
}
.social_position{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 14% 0 0;
}
.name_person{
    color: #484848;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    padding: 30% 0 7%;
}
.position_person{
    color: #777777;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
#skils{
    height:500px;
}
.name_skil{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6%;
}
.skil{
    color: #222222;
    font-family: "Helvetica Neue LT Std";
    font-size: 23px;
    line-height: 17px;
    text-transform: uppercase;
}
.percent{
    color: #777777;
    font-family: "Helvetica Neue LT Std";
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
}
.percentage_skils_1,.percentage_skils_2{
    display: flex;
    height: 40px;
    justify-content: center;
}
.percentage_skils_1{
    padding-bottom: 5%;
}
.web_design,.graphic_design,.html_css,.ui_ux{
    width: 368px;
    height: 40px;
    padding: 0 3%;
}
.percentage_graphic_design{
    background-color: #f0f0f0;
    width: 100%;
   height: 20px;
}
.color_pecent_web{
    background-color: #9f449b;
    width: 90%;
    z-index: 1;
    height: 20px;
}
.color_pecent_graphic{
    background-color: #9f449b;
    width: 70%;
    z-index: 1;
    height: 20px;
}
.color_pecent_html{
    background-color: #9f449b;
    width: 75%;
    z-index: 1;
    height: 20px;
}
.color_pecent_UI{
    background-color: #9f449b;
    width: 85%;
    z-index: 1;
    height: 20px;
}
#services{
    height: 100%;
    background-color: #eeeeee;
}
.dots{
    display: flex;
    justify-content: center;
    padding: 2% 2%;
}
.active, .dot:hover {
    background-color: #717171;
}
.data_info{
    width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
}
.information{
    height: 331px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number_info{
    color: #222222;
    font-family: "Helvetica Neue LT Std";
    font-size: 64px;
    line-height: 18px;
    text-transform: uppercase;
    height: 50px;
}
.name_info{
    color: #777777;
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    line-height: 24px;
}
.header_services{
    background: url("img/services.png");
    height: 624px;
}
.slider {
    background-color:#efefef;
    height: 631px;

}
.sliderPosition{
    display: none;
}
.dot{
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
#firstslade {
    display: block;
}
.slider_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    color: #4b4b4b;
    font-family: "Helvetica Neue LT Std";
    font-size: 33px;
    width: 880px;
    height: 69px;
    text-align: center;
}
.autor_quote{color: #777777;
    font-family: "Helvetica Neue LT Std";
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;

}

#portfolio{
    height: 100%;
}
.portfolio_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}
#tab_photo{
    display: flex;
    justify-content: center;

    margin-bottom: 4%;
}
.show{
    display: block;
}
.tab_photo button{
    cursor: pointer;
    transition: 0.3s;
}
.portfolio_line_1,.portfolio_line_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.position_portfolio_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    padding: 2% 0 0;
}
.tab_photo{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
.tab_li{
    transition: 0.3s;
    margin-right: 1%;
    width: 84px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
}
.tab_li:hover{
    border: 1px solid #9f449b;
    background-color: #9f449b;
    color: #ffffff;
}

#one_tab{
    display: block;
}
.tabconnect{
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s
}


.name_item{
    font-family: "Helvetica Neue LT Std";
    line-height: 26px;
    color: #222222;
    font-size: 24px;
}
.type_item{
    font-family: "Helvetica Neue LT Std";
    line-height: 26px;
    color: #777777;
    font-size: 17px;
}
#contacts{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.position_column{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}
.textarea{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 0 2%;

}
input{
    height: 73px;
    margin-bottom: 6%;
    color: #4b4b4b;
    font-family: "Helvetica Neue LT Std";
    font-size: 23px;
    line-height: 31px;
}
.description_contact{
    color: #4b4b4b;
    font-family: "Helvetica Neue LT Std";
    font-size: 23px;
    line-height: 31px;
    padding-bottom: 10%;
}
.adress{
    color: #222222;
    font-family: "Helvetica Neue LT Std";
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 6%;
}
.phone{
    color: #222222;
    font-family: "Helvetica Neue LT Std";
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10%;
}
textarea{
    height: 282px;
    margin-bottom: 6%;
    color: #4b4b4b;
    font-family: "Helvetica Neue LT Std";
    font-size: 23px;
    line-height: 31px;
}
.contacts_info{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0 2%;
}
.padding_social{
    padding: 0 2% 2%;
}
footer{
    height:100%;
}
.footer_logo{
    font-family: Existence;
    font-size: 51px;
    font-weight: bold;
    line-height: 51px;
    display: flex;
    justify-content: center;
    padding: 10% 0 5%;
}
@media screen {

}
